# Node modules
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env

# Logs
logs/
*.log
server.log

# Database
pgdata/
*.sql
*.sqlite

# Dependency directories
dist/
build/
coverage/

# OS-specific files
.DS_Store
Thumbs.db

# IDE / Editor files
.vscode/
.idea/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Misc
!.gitkeep
